# Kata:

https://www.codewars.com/kata/5811597e9d278beb04000038/train/sql

https://www.codewars.com/kata/5e5f09dc0a17be0023920f6f/train/sql

https://www.codewars.com/kata/582cba7d3be8ce3a8300007c/train/sql

## Your name or team members:

In [ ]:
Juan Manuel Pardo Garc√≠a

## Use the following cells to test your solution:

In [ ]:
#https://www.codewars.com/kata/5811597e9d278beb04000038/train/sql


SELECT
    DATE(created_at) AS day,
    description,
    COUNT(*) AS count
FROM
    events
WHERE
    name = 'trained'
GROUP BY
    DATE(created_at),
    description
ORDER BY
    day;

In [ ]:
#https://www.codewars.com/kata/5e5f09dc0a17be0023920f6f/train/sql

SELECT capital
FROM countries
WHERE continent IN ('Africa', 'Afrika')
  AND country LIKE 'E%'
ORDER BY capital
LIMIT 3;

In [ ]:
#https://www.codewars.com/kata/582cba7d3be8ce3a8300007c/train/sql

SELECT
    DATE(s.transaction_date) AS day,
    d.name AS department,
    COUNT(s.id) AS sale_count
FROM
    department d
JOIN
    sale s ON d.id = s.department_id
GROUP BY
    DATE(s.transaction_date),
    d.name
ORDER BY
    day ASC,
    department ASC;